<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated Arch -->
    <package class="arch.ArchPackage" genModel="model/Arch.genmodel" uri="http://arch.ecore/model"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated RobotFeatured -->
    <package class="robot.RobotPackage" genModel="model/RobotFeatured.genmodel" uri="http://robot.ecore/model/uri"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated GeneratorUnfinishedFeatures -->
    <package class="unfinished.UnfinishedPackage" genModel="model/GeneratorUnfinishedFeatures.genmodel" uri="http://unfinished.ecore/model"/>
  </extension>
</plugin>
