<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Arch -->
      <package
            uri="http://arch.ecore/model"
            class="arch.ArchPackage"
            genModel="model/Arch.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RobotFeatured -->
      <package
            uri="http://robot.ecore/model/uri"
            class="robot.RobotPackage"
            genModel="model/RobotFeatured.genmodel"/>
   </extension>

</plugin>
