*.exe
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.cpsTest/src/UnitTestCpp/x64/Debug/UnitTestCpp.ilk
*.log
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.cpsTest/src/UnitTestCpp/x64/Debug/UnitTestCpp.pdb
*.tlog
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.cpsTest/src/UnitTestCpp/x64/Debug/vc140.idb
*.pdb
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.cpsTest/src/UnitTestCpp/UnitTestCpp.opensdf
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.cpsTest/src/DistributedTest/Debug/DistributedTest.ilk
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.cpsTest/src/DistributedTest/Debug/DistributedTest.ilk
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.cpsTest/src/DistributedTest/Debug/vc140.idb
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.cpsTest/src/DistributedTest/Debug/DistributedTest.ilk
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.cpsTest/src/DistributedTest/DistributedTest.opensdf
*.sdf
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.cpsTest/src/DistributedTest/Debug/vc140.idb
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.modes/cpp-gen/RailroadStudy/Debug/vc140.idb
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.modes/cpp-gen/RailroadStudy/RailroadStudy.opensdf
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.modes/cpp-gen/RailroadStudy/RailroadStudy.vcxproj.user
*.filters
*.obj
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.modes/cpp-gen/RailroadStudy/bin/RailroadStudy.iobj
*.suo
*.iobj
query/localsearch-cpp/hu.bme.mit.localsearch.cpp.tool.modes/cpp-gen/RailroadStudy/bin/RailroadStudy.ipdb
*.iobj