<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.localsearch.cpp.tool.cpstest.query.Cpsquery" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.localsearch.cpp.tool.cpstest.query.Cpsquery" id="hu.bme.mit.localsearch.cpp.tool.cpstest.query.Cpsquery">
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.notAllocatedButRunning"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.availableGreaterThanTotalCpu"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.availableGreaterThanTotalHdd"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.availableGreaterThanTotalRam"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.nodeIpIsNotUnique"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.idIsNotUnique"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.initialStateNotContainedByStateMachine"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.transitionWithoutTargetState"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.targetStateNotContainedBySameStateMachine"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.multipleTransitionsWithSameAction"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.multipleApplicationInstanceInCommunicationGroup"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.appTypeInstanceAndHost"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.hostCommunication"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.reachableHosts"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.cpstest.query.reachableAppInstance"/>
    </group>
  </extension>
</plugin>
