<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated model -->
    <package class="RailRoadModel.RailRoadModelPackage" genModel="model/model.genmodel" uri="http://cpp/tool/derivedapi"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated Platform -->
    <package class="PlatformModel.PlatformModelPackage" genModel="model/Platform.genmodel" uri="http://cpp/tool/platform"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.localsearch.cpp.tool.derivedapi.nearBy" point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="RobotPart" feature-name="nearBy" package-nsUri="http://cpp/tool/derivedapi"/>
  </extension>
  <extension id="hu.bme.mit.localsearch.cpp.tool.derivedapi.DerivedFeatures" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.localsearch.cpp.tool.derivedapi.DerivedFeatures" id="hu.bme.mit.localsearch.cpp.tool.derivedapi.DerivedFeatures">
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.derivedapi.nearBy"/>
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.derivedapi.nearByTest"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.localsearch.cpp.tool.derivedapi.Deployment" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.localsearch.cpp.tool.derivedapi.Deployment" id="hu.bme.mit.localsearch.cpp.tool.derivedapi.Deployment">
      <query-specification fqn="hu.bme.mit.localsearch.cpp.tool.derivedapi.IDerivedExecutes"/>
    </group>
  </extension>
  <extension id="extension.derived.hu.bme.mit.localsearch.cpp.tool.derivedapi.IDerivedExecutes" point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Node" feature-name="derivedExecutes" package-nsUri="http://cpp/tool/platform"/>
  </extension>
</plugin>
